html {
    background-color: #023C40;
}

::placeholder {
    color: white;
    opacity: .5;
}

input {
    border-radius: 8px;
    border-color: #5D576B;
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #5D576B;
    color: white;
}

.messages {
    flex-grow: 1;
    overflow: auto;

    display: flex;
    flex-direction: column;
}

.chatBox {
    width: 100%;
    padding: 16px 0 16px 0;
}

.sendButton {
    padding: 15px;
    background-color: #3BC14A;
    color: white;
    border-radius: 8px;
    border-width: 1px;
    border-color: #3BC14A;
    border-style: solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 10px;
    outline: none;
}