.App {
  height: 100vh;
  text-align: center;
}

.header {
  background-color: #5D576B;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: auto 0;
}