.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #5D576B;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: auto 0;
}
